<main>
    <div class="container body-content">
        <div class="row">
            <h2>Categories</h2>
            <div th:if="${categories.isEmpty}" class="text-center">
                <span>NO CATEGORIES YET</span>
            </div>
            <div th:unless="${categories.isEmpty}" class="col-md-6" th:each="category : ${categories}">
                <header>
                    <h2>
                        <a th:href="@{/category/{id}?limit=10&offset=0(id=${category.id})}" th:text="${category.name + ' (' + #sets.size(category.articles) + ')'}">
                        </a>
                    </h2>
                </header>
            </div>
        </div>
    </div>
</main>
